body { 
    padding-top: 40px;
    background-image: url("../img/bg1.jpg");
}

.navbar{
    //background-image: linear-gradient(to top,#fff 0, #4951f8 100%);
    background-color:#4951f8;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.3));
    border: none;
}

header ul{
    margin-top: 8px;
}
header li{
    display: inline-block;
    float: left;
    margin: 5px;
    transition: all .5s;
}

header li a{
    color: #ffffff;
    text-decoration: none;
}

header li a:hover{
    color: #ffffff;
    text-decoration: none;
}

.homeIcon{
    width: 24px;
}

main{
    height: 100%;
}

.principal{
    padding-top: 40px;
    background-color: #ffffff;
}

.constructionWarning{
    margin-top: -30px;
    margin-left: 140px;
}

aside {
    box-sizing: border-box;
    height: inherit;
    min-height: 500px !important;
    margin-right: 20px;
}

aside img{
    width: 160px;
    border-radius: 25px;
}

footer .container{
    position: relative;
    min-height: 100px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top: #0000C2 solid 3px ;
    background-color: lightgray;
    background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.5));
}

footer span{
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    right: 20px;

}

.welcome{
    margin-bottom: 50px;
}

.lista{
    display: none;
}